.ProdId{
    font-size: 20px;
}
.Description{
    border: 0px solid;
    margin: 20px;
    height: 200px;
    box-shadow: 1px 2px 6px 1px silver;
    border-radius: 12px;
    padding: 10px;
    color:#5252e5;
    font-weight: bold;
}